<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Calendly</title>
  </head>
  <body>
    <section class="bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-12 py-1">
            <p> We created our cab booking app to help you to find the most dependable and highest quality cab services . <span class="s-cross"> <i class="fa fa-times" aria-hidden="true"></i> </span></p>
        </div>
      </div>
    </div>
    </section>

    <section>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">Navbar scroll</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'availiablity' %}">Availiablity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'intergation' %}">Intergation</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon" href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>


    <section class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 text-end">
            <a href="{% url 'create' %}"><button type="button" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Create </button></a>
          </div>
        </div>
      </div>
    </section>


    <section class="shadow">
        <div class="container page-menu">
            <ul>
              <li>
                <a class="active" aria-current="page" href="#">Event type</a>
              </li>
              <li>
                <a class="nav-link" href="#">Scheduled type</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'workflows' %}">Workflows</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'rotuing' %}">Rotuing forms</a>
              </li>
            </ul>
        </div>
    </section>

    <section class="py-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p> <i class="fa fa-search" aria-hidden="true"></i> Filter </p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="pageicon"> <i class="fa fa-google" aria-hidden="true"></i> The vehicle was<br /> spotlessly </p>
          </div>

          <div class="col-md-6 text-end">
            <p> <button type="button" class="btn btn-outline-primary">
              <i class="fa fa-plus" aria-hidden="true"></i> New Event Type </button> &nbsp; <i class="fa fa-stop-circle-o" aria-hidden="true"></i> </p>
          </div>
        </div>
      </div>
    </section>

    <hr class="line-bottom" />


    <section class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-6">
            <div class="card border-success mb-3 shadow">
              <div class="card-body text-success">
                <p><i class="fa fa-square-o" aria-hidden="true"></i> </p>
                <p class=" text-end"> <span style="position: absolute;top: 4%;">
                  <i class="fa fa-stop-circle-o" aria-hidden="true"></i> </span> 
                </p>
                <h5 class="card-title card-width"> Creadate consultion . for free consult </h5>
                <p class="card-text"> 30 mins one on one </p>
                <p><a href="#"> View Booking Page </a></p>
              </div>
              <div class="card-footer bg-transparent border-success"> 
                <i class="fa fa-clone" aria-hidden="true"></i> Copy link
                <span class="button-right-s"> <button type="button" class="btn btn-outline-primary">
              Share </button> </span></div>
            </div>
          </div>

          <div class="col-md-4 col-6">
            <div class="card border-success mb-3 shadow">
              <div class="card-body text-success">
                <p><i class="fa fa-square-o" aria-hidden="true"></i> </p>
                <p class=" text-end"> <span style="position: absolute;top: 4%;">
                  <i class="fa fa-stop-circle-o" aria-hidden="true"></i> </span> 
                </p>
                <h5 class="card-title card-width"> Creadate consultion . for free consult </h5>
                <p class="card-text"> 30 mins one on one </p>
                <p><a href="#"> View Booking Page </a></p>
              </div>
              <div class="card-footer bg-transparent border-success"> 
                <i class="fa fa-clone" aria-hidden="true"></i> Copy link
                <span class="button-right-s"> <button type="button" class="btn btn-outline-primary">
              Share </button> </span></div>
            </div>
          </div>

          <div class="col-md-4 col-6">
            <div class="card border-success mb-3 shadow">
              <div class="card-body text-success">
                <p><i class="fa fa-square-o" aria-hidden="true"></i> </p>
                <p class=" text-end"> <span style="position: absolute;top: 4%;">
                  <i class="fa fa-stop-circle-o" aria-hidden="true"></i> </span> 
                </p>
                <h5 class="card-title card-width"> Creadate consultion . for free consult </h5>
                <p class="card-text"> 30 mins one on one </p>
                <p><a href="#"> View Booking Page </a></p>
              </div>
              <div class="card-footer bg-transparent border-success"> 
                <i class="fa fa-clone" aria-hidden="true"></i> Copy link
                <span class="button-right-s"> <button type="button" class="btn btn-outline-primary">
              Share </button> </span></div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>